@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: #000000;
  --color-foreground: #ffffff;
  
  --font-mono: "Fira Code", "JetBrains Mono", "Space Mono", monospace;
}

@layer base {
  * {
    @apply border-white/20;
  }
  body {
    @apply font-mono antialiased bg-black text-white;
    background-color: black;
    color: white;
  }
}
